
/.godot
/.godot
.godot/editor/filesystem_cache8
.godot/editor/filesystem_cache8
.godot/global_script_class_cache.cfg
.godot/uid_cache.bin
.godot/editor/filesystem_cache8
.godot/uid_cache.bin
.godot/editor/filesystem_cache8
.godot/global_script_class_cache.cfg
.godot/uid_cache.bin
Capturajuhjuj.PNG.import
Capturajuhjuj.PNG.import
saves/save.dat
